{% extends "::base.html.twig" %}

{% block body %}
<div class="container">
	<h1>Agronautes</h1>
	<h2> Lire un article</h2>
	<div class="well">
		<p>{{Article.articleBody}}<p>
	</div>
</div>

{% endblock %}
